<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.springwork.dao.UserDao">
    <!--新增用户-->
    <insert id="saveUser" parameterType="com.neusoft.springwork.entity.UserInfo">
        insert into
        t_sys_user(id, account, name, role, sex, phone, password, email, id_card, sort_no, gmt_create, create_by, gmt_modified, last_modified_by, version, is_deleted)
        values(#{id}, #{account}, #{name}, #{role}, #{sex}, #{phone}, #{password}, #{email}, #{idCard}, #{sortNo}, now(), #{createBy}, now(), #{createBy}, 1, 0)
    </insert>
    <!--查询用户-->
    <select id="askUser" parameterType="com.neusoft.springwork.entity.UserInfo" resultType="com.neusoft.springwork.entity.UserInfo">
        select * from t_sys_user
    </select>
    <!--更新用户-->
    <update id="updateUser" parameterType="com.neusoft.springwork.entity.UserInfo">
        update t_sys_user set account=#{account},version=version+1,gmt_modified=now() WHERE id=#{id}
    </update>
    <!--删除用户-->
    <update id="deleteUser" parameterType="com.neusoft.springwork.entity.UserInfo">
        update t_sys_user set is_deleted=1,gmt_modified=now(),create_by=#{createBy} WHERE id=#{id}
    </update>
    <delete id="realDeleteUser" parameterType="com.neusoft.springwork.entity.UserInfo">
        delete from t_sys_user where id=#{id};
    </delete>
</mapper>